@media only screen and (max-width: 1420px)
	.container
		width 900px
	
	.page-header
		
		.human-1
			top 99px
			left -240px
			width 52%
			
			img
				width 100%
			
		.header-content
			padding: 20px 0 55px;
		
		.header-content_icon
			left: 45.3%;
			top: 26%;
			
		.logo
			img
				width 77%
		
		.logo_text
			font-size: 14px;
			padding: 4px 0 0;
		
		.header-content_line-1
			font-size: 30px;
			margin: 67px 0 0 0;
		
		.header-content_line-1_divider-1
			top 7px
			width: 27px;
			left: 34.6%;
			height: 3px;
		
		.header-content_line-1_divider-2
			top: 7px;
			width: 27px;
			right: 34.6%;
			height: 3px;
		
		.header-content_line-2
			font-size: 54px;
		
		.header-content_line-3
			font-size: 52px;
		
		.btn_span
			font-size 36px
		
		.header-content_span-2
			font-size: 45px;
			
		.header-content_span-1
			font-size: 90px;
		
		.stone
			width 8%
			
			img
				width 100%
		
		.leaf
			left: 85%;
			width: 248px;
			bottom: -168px;
			
			img
				width 100%
		
		.tablet
			width: 1460px;
			left: 53.5%;
			bottom: 145px;
			
			img
				width 100%
		
		.tablet_text
			right: 370px;
			font-size 32px
			top 32px
			transform: rotate(7deg);
		
		.tablet_text_span-1
			font-size: 51px;
		
		.tablet_text_span-2
			font-size: 23px;
		
		.bg-smoke,
		.bg-smoke-1
			height 230px
			bottom 207px
		
		.upper-layer
			width 100%
			top -100px
			img
				width 100%
	
	.registration 
		.registration-item
			width: 290px;
			height: 220px;
		
		.registration-tagline-1
			font-size: 19px;
		
		.registration-tagline-2
			font-size: 18px;
		
		.registration-text
			font-size 13px
	
	.page-footer
		img
			width 100%
		.payments
			padding: 17px 0;
			
			&:before
				box-shadow: inset 210px 0 125px -50px #271801;
			
			&:after
				box-shadow: inset -210px 0 125px -50px #271801;

		.provider_item
			width 12%
		
		.payment_item
			width 9%
		
		.footer-icon-1
			top 52px
			left 83%
			width 140px
			
			img
				width 100%
		
		.footer-text
			font-size 12px



@media only screen and (max-width: 1024px)
	.container
		width 728px
	.page-header
		box-shadow: inset 0 -66px 200px 121px #1e140f
		
		.logo
			img
				width 64%

		.logo_text
			font-size: 12px;
		
		.header-content_icon
			width: 51px;
			left: 47.3%;
			top: 27%;
			
			img
				width 100%

		.header-content_line-1
			font-size: 27px;
			margin: 43px 0 0 0;

		.header-content_line-2
			font-size: 48px;

		.header-content_line-3
			font-size: 47px;

		.btn
			width: 355px;
			height: 173px;
			top: -123px;
		
		.btn_span
			font-size: 27px;
		
		.header-content_span-2
			font-size: 35px;
			
		.header-content_span-1
			font-size: 79px;

		.human-1
			left -194px
		
		.tablet
			width: 1242px;
			left: 54.5%;
			bottom: 87px;
		
		.tablet_text
			right: 317px;
			font-size: 27px;
			top: 28px;

		.tablet_text_span-1
			font-size: 44px;
		
		.tablet_text_span-2
			font-size: 20px;
		
		.stone
			bottom: 148px;
		
		.bg-smoke-1,
		.bg-smoke
			bottom: 143px;
	
	.aztec-ornament
		padding: 72px 0;
		
		.btn_link
			width: 281px;
			height: 62px;
			bottom: -7px;
	
		#smoke_left
			left: -73px;
			top: -94px;
		
		#smoke_right
			right: -56px;
			top: -99px;
		
		.smoke
			width: 100px;
			position: absolute;
			height: 150px;

	
	.registration 
		.registration-content
			padding: 32px 35px 0;
		
		.registration-item
			width: 282px;
			height: 185px;
		
		.registration-tagline-1
			font-size: 16px;
		
		.registration-tagline-2
			font-size: 15px;
		
		.registration-text
			font-size 11px
		
		.registration_arrow
			width: 30px;
			height: 30px;
			right: -18px;
			
			&:before
				border-top: 3px solid;
				border-right: 3px solid;
				width: 8px;
				height: 8px;
	
	.page-footer 
		.footer-icon-1
			width: 121px;


@media only screen and (max-width: 769px)
	.container
		width 320px
	
	.page-header
		
		.logo
			img
				width 52%

		.logo_text
			font-size: 11px;
		
		.header-content_icon
			width: 39px;
			left: 45.3%;
			top: 27%;
		
		.header-content_line-1_divider-1
			width: 20px;
			left: 17.6%;
		
		.header-content_line-1_divider-2
			top: 5px;
			width: 22px;
			right: 18.6%;
			height: 3px;
		
		.header-content_span-2
			font-size: 25px;
			
		.header-content_span-1
			font-size: 60px;

		.header-content_line-1
			font-size: 21px;
			margin: 28px 0 0 0;

		.header-content_line-2
			font-size: 36px;

		.header-content_line-3
			font-size: 35px;
			margin: 0;

		.btn
			width 322px
			height 136px
			top -100px
			z-index: 2;
		
		.btn_span
			font-size: 20px;

		.human-1
			top 112px
			left -239px
			width 75%
		
		.tablet
			width: 1078px;
			left: 54.5%;
		
		.tablet_text
			right: 265px;
			font-size: 27px;
			top: 22px;
			
	.aztec-ornament
		.btn_link 
			width: 222px;
			height: 48px;
			bottom: -2px;
		
		#smoke_left
			left: -54px;
			top: -94px;
		
		#smoke_right
			right: -41px;
			top: -107px;


	.registration 
		.registration-items
			flex-direction column
			align-items: center;
		
		.registration-item
			width 91%
			margin-bottom: 8px;
		
		.registration-tagline-1
			font-size: 20px;
		
		.registration-tagline-2
			font-size: 20px;
		
		.registration-text
			font-size 14px
			
	.page-footer
		.container
			padding 0 5px
			box-sizing border-box
		.provider_item
			width: 30%;
		
		.payment_item
			width: 21%;
		
		.footer-icon-1
			top: -197px;
			left: 68%;
	
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.page-header
		font-size 0
		
		.header-content_line-1:after
			background none
			color #fff
		
		.header-content_span-1::after
			background none
			color #f8d856

		.header-content_span-2::after
			background none
			color #fff
	
	.registration 
		.registration-number::after,
		.registration-tagline-2::after
			background none
			color #f8d856
	
	.registration-items>*
		display inline-block
		opacity 1
		
			